In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib import style
style.use('ggplot')

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
data = pd.read_csv('titanic_train.csv')
test = pd.read_csv('titanic_test.csv')
test_ids = test["PassengerId"]
data.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S

In [3]:
# check for duplicate values
data.duplicated().sum()

0

In [4]:
test.duplicated().sum()

0

In [5]:
# Check for null values
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
# Check for null values
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
data.drop('Cabin', axis = 1, inplace = True)

avg_age = data['Age'].mean()
data.Age.replace(np.nan, avg_age, inplace = True)

freq_port = data.Embarked.dropna().mode()[0]
data['Embarked'] = data['Embarked'].fillna(freq_port)

In [8]:
test.drop('Cabin', axis = 1, inplace = True)

avg_age = test['Age'].mean()
avg_fare = test['Fare'].mean()
test.Age.replace(np.nan, avg_age, inplace = True)
test.Fare.replace(np.nan, avg_fare, inplace = True)

freq_port = test.Embarked.dropna().mode()[0]
test['Embarked'] = test['Embarked'].fillna(freq_port)

In [9]:
test.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [10]:
data['Fam_members'] = data['SibSp'] + data['Parch']
test['Fam_members'] = test['SibSp'] + test['Parch']

In [11]:
data['Sex'] = data['Sex'].map({'female' : 1, 'male' : 0}).astype(int)
data['Embarked'] = data['Embarked'].map({'S' : 0, 'C' : 1, 'Q' : 2}).astype(int)

test['Sex'] = test['Sex'].map({'female' : 1, 'male' : 0}).astype(int)
test['Embarked'] = test['Embarked'].map({'S' : 0, 'C' : 1, 'Q' : 2}).astype(int)

In [12]:
data.drop(['PassengerId', 'Name', 'Ticket','SibSp', 'Parch'], axis = 1, inplace = True)
test.drop(['PassengerId', 'Name', 'Ticket','SibSp', 'Parch'], axis = 1, inplace = True)

In [13]:
data.head(10)

   Survived  Pclass  Sex        Age     Fare  Embarked  Fam_members
0         0       3    0  22.000000   7.2500         0            1
1         1       1    1  38.000000  71.2833         1            1
2         1       3    1  26.000000   7.9250         0            0
3         1       1    1  35.000000  53.1000         0            1
4         0       3    0  35.000000   8.0500         0            0
5         0       3    0  29.699118   8.4583         2            0
6         0       1    0  54.000000  51.8625         0            0
7         0       3    0   2.000000  21.0750         0            4
8         1       3    1  27.000000  11.1333         0            2
9         1       2    1  14.000000  30.0708         1            1

In [14]:
X = data.drop('Survived', axis = 1).values
Y = data[['Survived']].values

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.5, random_state = 10)

In [16]:
print('Training Data Shape   : ', x_train.shape)
print('Training Labels Shape : ', y_train.shape)
print('Testing Data Shape    : ', x_test.shape)
print('Testing Labels Shape  : ', y_test.shape)

Training Data Shape   :  (445, 6)
Training Labels Shape :  (445, 1)
Testing Data Shape    :  (446, 6)
Testing Labels Shape  :  (446, 1)

In [17]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(x_train, y_train)

LogisticRegression()

In [18]:
print('Training set accuracy : ', LR.score(x_train, y_train))
print('testing set  accurcay : ', LR.score(x_test, y_test))

Training set accuracy :  0.7865168539325843
testing set  accurcay :  0.8251121076233184

In [19]:
submission_preds = LR.predict(test)

In [20]:
LR_df = pd.DataFrame({"PassengerId" : test_ids.values, 
                      "Survived" : submission_preds 
                     })

In [23]:
LR_df.to_csv("D:\Kaggle Project\Titanic Competition\LR_submission.csv", index = False)

## Decision Tree

In [62]:
from sklearn.tree import DecisionTreeClassifier
dt_classifier = DecisionTreeClassifier(criterion = 'entropy', max_depth = 4, random_state = 2)
dt_classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4, random_state=2)

In [63]:
print('Training Set Accuracy: ', dt_classifier.score (x_train, y_train))
print('Testing Set Accuracy: ', dt_classifier.score (x_test, y_test))

Training Set Accuracy:  0.8247191011235955
Testing Set Accuracy:  0.8340807174887892

In [64]:
DTsubmission_preds = dt_classifier.predict(test)

DT_df = pd.DataFrame({"PassengerId" : test_ids.values, 
                      "Survived" : DTsubmission_preds 
                     })

DT_df.to_csv("D:\Kaggle Project\Titanic Competition\DT_submission.csv", index = False)

## Random Forest

In [65]:
from sklearn.ensemble import RandomForestClassifier
rt_classifier = RandomForestClassifier(n_estimators = 400, max_depth = 4, random_state = 2)
rt_classifier.fit(x_train, y_train)

RandomForestClassifier(max_depth=4, n_estimators=400, random_state=2)

In [66]:
print('Training Set Accuracy: ', rt_classifier.score (x_train, y_train))
print('Testing Set Accuracy: ', rt_classifier.score (x_test, y_test))

Training Set Accuracy:  0.8382022471910112
Testing Set Accuracy:  0.8318385650224215

In [67]:
RFsubmission_preds = rt_classifier.predict(test)

RF_df = pd.DataFrame({"PassengerId" : test_ids.values, 
                      "Survived" : RFsubmission_preds 
                     })

RF_df.to_csv("D:\Kaggle Project\Titanic Competition\RF_submission.csv", index = False)

## XGBoost

In [112]:
from xgboost import XGBClassifier
xg_classifier = XGBClassifier(n_estimators = 6)
xg_classifier.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_bin=256, max_cat_threshold=64, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=6, n_jobs=0,
              num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [113]:
print('Training Set Accuracy: ', xg_classifier.score (x_train, y_train))
print('Testing Set Accuracy: ', xg_classifier.score (x_test, y_test))

Training Set Accuracy:  0.8786516853932584
Testing Set Accuracy:  0.820627802690583

In [115]:
XGsubmission_preds = xg_classifier.predict(test)

XG_df = pd.DataFrame({"PassengerId" : test_ids.values, 
                      "Survived" : XGsubmission_preds 
                     })

XG_df.to_csv("D:\Kaggle Project\Titanic Competition\XG_submission.csv", index = False)

## Stacking

In [120]:
from sklearn.neighbors import KNeighborsClassifier
from lightgbm import LGBMClassifier



dt_classifier = DecisionTreeClassifier(max_depth = 15)

knn_classifier = KNeighborsClassifier(n_neighbors = 7)

lg_classifier = LGBMClassifier(n_estimators = 50)

xg_classifier = XGBClassifier(n_estimators = 50)

rf_classifier = RandomForestClassifier(n_estimators = 100, max_depth = 10)

In [121]:
from sklearn.ensemble import VotingClassifier
vt_classifier = VotingClassifier(estimators = [('dt', dt_classifier),
                                              ('KNN', knn_classifier),
                                              ('lg', lg_classifier),
                                              ('xg', xg_classifier),
                                              ('rf', rf_classifier)], voting = 'hard')

vt_classifier.fit(x_train, y_train)

VotingClassifier(estimators=[('dt', DecisionTreeClassifier(max_depth=15)),
                             ('KNN', KNeighborsClassifier(n_neighbors=7)),
                             ('lg', LGBMClassifier(n_estimators=50)),
                             ('xg',
                              XGBClassifier(base_score=None, booster=None,
                                            callbacks=None,
                                            colsample_bylevel=None,
                                            colsample_bynode=None,
                                            colsample_bytree=None,
                                            early_stopping_rounds=None,
                                            enable_categorical=False,
                                            eval_metric...
                                            interaction_constraints=None,
                                            learning_rate=None, max_bin=None,
                                            max_cat_threshold=None,
                                            max_cat_to_onehot=None,
                                            max_delta_step=None, max_depth=None,
                                            max_leaves=None,
                                            min_child_weight=None, missing=nan,
                                            monotone_constraints=None,
                                            n_estimators=50, n_jobs=None,
                                            num_parallel_tree=None,
                                            predictor=None, random_state=None, ...)),
                             ('rf', RandomForestClassifier(max_depth=10))])

In [122]:
print('Training Set Accuracy: ', vt_classifier.score (x_train, y_train))
print('Testing Set Accuracy: ', vt_classifier.score (x_test, y_test))

Training Set Accuracy:  0.9415730337078652
Testing Set Accuracy:  0.820627802690583

In [123]:
VTsubmission_preds = vt_classifier.predict(test)

VT_df = pd.DataFrame({"PassengerId" : test_ids.values, 
                      "Survived" : VTsubmission_preds 
                     })

VT_df.to_csv("D:\Kaggle Project\Titanic Competition\VT_submission.csv", index = False)